@using AllAboutGames.Web.ViewModels.Users
@using AllAboutGames.Common
@using System.Security.Claims;
@model UserProfilePageViewModel
@{
    this.ViewData["Title"] = "User profile";
}
@section CustomCss{
    <link href="/css/userProfile.css" rel="stylesheet" asp-append-version="true" />
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (this.User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.Id)
                    {
                        <form method="post" asp-controller="Users" asp-action="Profile" enctype="multipart/form-data" id="form">
                            <input name="id" value="@Model.Id" hidden />
                            <input name="username" value="@Model.UserName" hidden />
                            <input asp-for="ProfilePicture" id='fileid' type='file' hidden />
                            <input id='buttonid' type='button' class="btn btn-outline-info" value="Change profile picture" style="margin-left:80px" />
                        </form>
                    }
                }
                <div class="card-block">
                    <div class="user-image">
                        <img src="@Model.ProfilePicture" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">@Model.UserName</h6>
                    <p class="text-muted">Birthdate: @Model.DateOfBirth</p>
                    <p class="text-muted">Registered on: @Model.CreatedOn</p>
                    <p class="text-muted">From: @Model.CityName/@Model.CountryName</p>
                    <hr>
                    <div class="bg-c-blue counter-block m-t-10 p-20">
                        <div class="row">
                            <div class="col-6">
                                <p>Reviews</p>
                                <p>@Model.ReviewsCount</p>
                            </div>
                            <div class="col-6">
                                <p>Forum posts</p>
                                <p>@Model.ForumPostsCount</p>
                            </div>
                            <div class="col-6">
                                <p>Forum comments</p>
                                <p>@Model.ForumCommentsCount</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <a type="button" class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Index">
                        View profile settings
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        document.getElementById('buttonid').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('fileid').click();
        }
    </script>
    <script>
        document.getElementById("fileid").onchange = function () {
            document.getElementById("form").submit();
        };
    </script>
}