@using AllAboutGames.Web.ViewModels.Reviews
@model AllReviewsListViewModel
@{
    this.ViewData["Title"] = "Reviews";
}
@section CustomCss{
    <link href="~/css/Cards.css" rel="stylesheet" asp-append-version="true" />
}
<center style="margin-top:50px"> <h1>Reviews</h1> </center>
<div class="container-fluid" style="margin-top:100px">
    <div class="row justify-content-center" style="margin-top:100px">
        @foreach (var game in @Model.Reviews)
        {
            <div class="col-auto mb-3">
                <div>
                    <div class="card">
                        <div class="imgBx">
                            <img src="@game.Image" alt="images">
                        </div>
                        <div class="details">
                            <h3>@game.Name<br><span>@game.DeveloperName</span></h3>
                        </div>
                    </div>
                    <a asp-controller="Reviews" asp-action="Details" asp-route-id="@game.Id" asp-route-pageNumber="1" class="btn btn-primary" style="margin-top:20px; width:200px; margin-left:50px">Check Reviews</a>
                </div>
            </div>
        }
    </div>
</div>
<partial name="_PagingPartial" model="@Model" view-data="ViewData" />