@model AllAboutGames.Web.ViewModels.Game.CreateGameViewModel
<center>
    <h1>Add video game here!</h1>
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input name="name" style="width: 500px" class="form-control">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" step="0.01" name="price" style="width: 200px" class="form-control">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input name="Image" style="width: 500px" class="form-control">
        </div>
        <div class="form-group">
            <label>Website</label>
            <input name="Website" style="width: 500px" class="form-control">
        </div>
        <div class="form-group">
            <label>Release date</label>
            <input type="date" name="releasedate" style="width: 200px" class="form-control">
        </div>
        <div class="form-group">
            <label>Developed by</label>
            <input name="developer" style="width: 200px" class="form-control">
        </div>
        <div class="form-group">
            <label>Published by</label>
            <input name="publisher" style="width: 200px" class="form-control">
        </div>
        <h5>Select genres</h5>
        @foreach (var genre in Model.Genres)
        {
            <div class="form-check form-check-inline">
                <input name="genre" class="form-check-input" type="checkbox" value="@genre.Name">
                <label class="form-check-label" for="inlineCheckbox1">@genre.Name</label>
            </div>
        }
        <h5>Select languages</h5>
        @foreach (var language in Model.Languages)
        {
            <div class="form-check form-check-inline">
                <input name="language" class="form-check-input" type="checkbox" value="@language.Name">
                <label class="form-check-label" for="inlineCheckbox1">@language.Name</label>
            </div>
        }
        <h5>Select platforms</h5>
        @foreach (var platform in Model.Platforms)
        {
            <div class="form-check form-check-inline">
                <input name="platform" class="form-check-input" type="checkbox" value="@platform.Name">
                <label class="form-check-label" for="inlineCheckbox1">@platform.Name</label>
            </div>
        }
        <div class="form-group">
            <label>Summary</label>
            <textarea name="summary" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>