@using AllAboutGames.Web.ViewModels.Games
@model GameDetailsViewModel
@section CustomCss{
    <link href="~/css/GameDetails.css" rel="stylesheet" asp-append-version="true" />
}
@{
    this.ViewData["Title"] = Model.Name;
}
@if (this.ViewData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <center>
            <strong>Thank you for the review!</strong>
        </center>
    </div>
}
<div class="container-fluid" style="margin-top:20px">
    <center>
        <span>
            @if (this.User.IsInRole("Administrator"))
            {
                <a asp-controller="Games" asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-outline-info" style="width:200px">
                    Edit
                </a>
            }
        </span>
        <span>
            @if (this.User.IsInRole("Administrator"))
            {
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteGame" style="width:200px">Delete</button>

            }
        </span>
    </center>
</div>
<center>
    <div style="width:100%; display:inline-block">
        @for (int i = 0; i < 5; i++)
        {
            if (i < Math.Floor(Model.AverageRating))
            {
                <span class="fa fa-star checked star"></span>
            }
            else
            {
                <span class="fa fa-star star unchecked"></span>
            }
        }
        <span style="color:white; font-size:30px; margin-left:20px"><span class="text-danger">@Model.AverageRating</span>/5</span>
    </div>
    <h4 style="color:white; margin-top:10px">Votes: <span class="text-danger">@Model.RatingsCount</span></h4>
    <h1 style="margin-top:10px">@Model.Name</h1>
    <h2><span class="text-danger">Developer: </span>@Model.Developer</h2>
    <h3><span class="text-danger">Release date: </span>@Model.ReleaseDate</h3>
    <h2><span class="text-danger">Price: </span>@Model.Price</h2>
</center>
<div style="margin-top:60px">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="container-fluid">
                <h2>Poster</h2>
                <img class="border border-primary border-bigger img-fluid" src="@Model.Image" height="500" width="900" style="max-height:500px">
            </div>
        </div>
        <div class="col-md-4">
            <h2 style="margin-left:200px">Trailer</h2>
            @if (Model.TrailerUrl == null)
            {
                <h2 class="text-danger" margin-left:100px">No trailer available</h2>
            }
            else
            {
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="border border-primary border-bigger" width="550" height="415" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
                </div>
            }
        </div>
    </div>
    <div class="info" style="margin-left:10px; margin-top:20px">
        <h5><span class="text-danger">Languages: </span>@Model.Languages</h5>
        <h5><span class="text-danger">Platforms: </span>@Model.Platforms</h5>
        <h5><span class="text-danger">Genres: </span>@Model.Genres</h5>
    </div>
    <div style="margin-top:50px">
        <center>
            <a type="button" class="btn btn-info" href="@Model.Website" style="width:30%; font-size:23px">Click here to visit the official website</a>
        </center>
    </div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <center>
            <h2 style="position:relative; top:40px; color:blue">Rate the game</h2>
            <div class="row no-gutters">
                <div class="addreview col-md-12" style="width:100%">
                    <div class="post">
                        <div class="text">Thanks for rating us!</div>
                        <div class="edit">EDIT</div>
                    </div>
                    <div class="star-widget">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star" data-vote="5"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star" data-vote="4"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star" data-vote="3"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star" data-vote="2"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star" data-vote="1"></label>
                        @if (this.User.IsInRole("Reviewer"))
                        {
                            <form method="post" asp-controller="Reviews" asp-action="Add">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <header></header>
                                <div class="textarea">
                                    <textarea class="form-control" cols="100" rows="10" asp-for="ReviewText" name="text" cols="30" placeholder="Describe your experience.."></textarea>
                                    <input name="gameId" value="@Model.Id" type="hidden" />
                                </div>
                                <button type="submit" class="btn btn-outline-success">Post</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </center>

    }
    else
    {
        <center>
            <h2 style="position:relative; top:40px; color:deepskyblue; border:solid; border-width:2px; margin-left:500px; margin-right:500px">Login to rate this game.</h2>
        </center>
    }
</div>
<div class="container-fluid" style="margin-top:100px">
    <center>
        <h2>Summary</h2>
    </center>
    <div>
        <h4 class="summary">@Model.Summary</h4>
    </div>
</div>
<!-- Modal -->
<div id="myModal">
    <div class="modal fade" id="deleteGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete the game?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a asp-controller="Games" asp-action="Delete" asp-route-id="@Model.Id">
                        <button type="button" class="btn btn-primary">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/GameDetails.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#deleteGame').trigger('focus')
        })
    </script>
    <script>
        $("label[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = parseInt($(this).attr("data-vote"));
                var gameId = "@Model.Id";
                var data = { gameId: gameId, value: value };
                console.log(value);

                $.ajax({
                    type: "POST",
                    url: "/api/Ratings",
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log(data)
                    },
                    contentType: 'application/json',
                })
            });
        });
    </script>
}