@using AllAboutGames.Web.ViewModels.Games
@model GameDetailsViewModel
@section Css{
    <link href="~/css/GameDetails.css" rel="stylesheet" asp-append-version="true" />
}
@if (this.ViewData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <center>
            <strong>Thank you for the review!</strong>
        </center>
    </div>
}
<center>
    @if (this.User.IsInRole("Administrator"))
    {
        <a asp-controller="Games" asp-action="Edit" asp-route-id="@Model.Id">
            <button type="button" class="btn btn-outline-info" style="margin-right:50px; width:100px">Edit</button>
        </a>
    }
    @for (int i = 0; i < 5; i++)
    {
        if (i < Math.Floor(Model.AverageRating))
        {
            <span class="fa fa-star checked star"></span>
        }
        else
        {
            <span class="fa fa-star star unchecked"></span>
        }
    }
    <span style="color:white; font-size:30px; margin-left:20px"><span style="color:red">@Model.AverageRating</span>/5</span>
    @if (this.User.IsInRole("Administrator"))
    {
        <button type="button" class="btn btn-outline-danger" style="margin-left:50px; width:100px" data-toggle="modal" data-target="#deleteGame">Delete</button>

    }
    <h4 style="color:white; margin-top:10px">Votes: <span style="color:red">@Model.RatingsCount</span></h4>
    <h1 style="margin-top:10px">@Model.Name</h1>
    <h2><span style="color:red">Developer: </span>@Model.Developer</h2>
    <h3><span style="color:red">Release date: </span>@Model.ReleaseDate</h3>
    <h2><span style="color:red;">Price: </span>@Model.Price</h2>
</center>
<div style="margin-top:60px">
    <div class="row">
        <div class="float-left col-md-8">
            <h2 style="margin-left:400px">Poster</h2>
            <img class="border border-primary border-bigger img-fluid" src="@Model.Image" height="500" width="900">
        </div>
        <div class="float-right col-md-4" style="position:relative; right:100px">
            <h2 style="margin-left:200px">Trailer</h2>
            @if (Model.TrailerUrl == null)
            {
                <h2 style="color:red; margin-left:100px">No trailer available</h2>
            }
            else
            {
                <iframe class="border border-primary border-bigger" width="550" height="415" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
            }
        </div>
    </div>
    <div class="info" style="margin-left:10px; margin-top:20px">
        <h5><span style="color:red">Languages: </span>@Model.Languages</h5>
        <h5><span style="color:red">Platforms: </span>@Model.Platforms</h5>
        <h5><span style="color:red">Genres: </span>@Model.Genres</h5>
    </div>
    <center style="margin-top:50px">
        <h2><span style="color:deepskyblue;">Official website: </span><a style="color:white" href="@Model.Website">@Model.Website</a></h2>
    </center>
    @if (this.User.Identity.IsAuthenticated)
    {
        <center>
            <h2 style="position:relative; top:40px; color:blue">Rate the game</h2>
        </center>
        <div class="addreview">
            <div class="post">
                <div class="text">Thanks for rating us!</div>
                <div class="edit">EDIT</div>
            </div>
            <div class="star-widget">
                <input type="radio" name="rate" id="rate-5">
                <label for="rate-5" class="fas fa-star" data-vote="5"></label>
                <input type="radio" name="rate" id="rate-4">
                <label for="rate-4" class="fas fa-star" data-vote="4"></label>
                <input type="radio" name="rate" id="rate-3">
                <label for="rate-3" class="fas fa-star" data-vote="3"></label>
                <input type="radio" name="rate" id="rate-2">
                <label for="rate-2" class="fas fa-star" data-vote="2"></label>
                <input type="radio" name="rate" id="rate-1">
                <label for="rate-1" class="fas fa-star" data-vote="1"></label>
                @if (this.User.IsInRole("Reviewer"))
                {
                    <form method="post" asp-controller="Reviews" asp-action="Add">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <header></header>
                        <div class="textarea">
                            <textarea asp-for="ReviewText" name="text" cols="30" placeholder="Describe your experience.."></textarea>
                            <input name="gameId" value="@Model.Id" type="hidden" />
                        </div>
                        <button type="submit" class="btn btn-outline-success">Post</button>
                    </form>
                }
            </div>
        </div>
    }
    else
    {
        <center>
            <h2 style="position:relative; top:40px; color:deepskyblue; border:solid; border-width:2px; margin-left:500px; margin-right:500px">Login to rate this game.</h2>
        </center>
    }
</div>
<div>
    <div style="margin-top:100px; width:1400px; margin-left:50px">
        <center>
            <h2 style="margin-bottom:40px">Summary</h2>
        </center>
        <h4 class="summary">@Model.Summary</h4>
    </div>
</div>
<div class="row d-flex justify-content-center mt-100 mb-100">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title">Latest Comments</h4>
            </div>
            <div class="comment-widgets">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row m-t-0">
                    <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                        <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                    </div>
                </div> <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
                    <div class="comment-text active w-100">
                        <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">Thanks bbbootstrap.com for providing such useful snippets. </span>
                        <div class="comment-footer"> <span class="text-muted float-right">May 10, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                    </div>
                </div> <!-- Comment Row -->
                <div class="d-flex flex-row comment-row">
                    <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
                        <div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                    </div>
                </div>
            </div> <!-- Card -->
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal">
    <div class="modal fade" id="deleteGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete the game?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a asp-controller="Games" asp-action="Delete" asp-route-id="@Model.Id">
                        <button type="button" class="btn btn-primary">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/GameDetails.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#deleteGame').trigger('focus')
        })
    </script>
    <script>
        $("label[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = parseInt($(this).attr("data-vote"));
                var gameId = "@Model.Id";
                var data = { gameId: gameId, value: value };
                console.log(value);

                $.ajax({
                    type: "POST",
                    url: "/api/Ratings",
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log(data)
                    },
                    contentType: 'application/json',
                })
            });
        });
    </script>
}